.input {
    border: 1px solid black;
}

.small {
   width: 150px;
   padding: 5px;
   font-size: 10px;
}

.medium {
    width: 200px;
    padding: 10px;
    font-size: 15px;
}

.large {
    width: 250px;
    padding: 15px;
    font-size: 20px;
}

.normal {
    border-radius: 10px;
}
.circle {
    border-radius: 25px;
}
.square {
    border-radius: 0;
}

.black {
    background-color: rgb(44, 42, 42);
    color: whitesmoke;
}
.blue {
    background-color: rgb(61, 129, 218);
    color: whitesmoke;
}